// Use Cases Styles
// This file contains all styles for use-cases pages

@media (min-width: 1023px) {
  .use-case-banner {
      padding-top: 150px;
  }
}

.cta-btn a {
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  padding: .7rem 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.py165{
  padding-top: 165px;
  padding-bottom: 165px;
}
.py135{
  padding-top: 135px;
  padding-bottom: 135px;
}
.pt165{
  padding-top: 165px;
}
.pb140{
  padding-bottom: 140px;
}
.mb140{
  margin-bottom: 140px;
}
.use-case-banner{
  
  @media (max-width: 991px) {
    padding-top: 80px;
  }

  .use-case-banner-row{
    gap: 20px;

    .use-case-banner-img img{
      margin-left: 80px;
    }
  }

  .banner-tag-bx {
    background-color: #7239EA1A;
    color: #000;
    padding: 10px;
    border: 1px solid #D5C4F9;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 20px;

    p{
      padding-bottom: 0px;
      font-size: 14px;
    }

  }
  .banner-tag-desc {
    gap: 5px;
    display: ruby;
  }

}

.helps-field{
  padding-top: 80px;
  padding-bottom: 165px;

  .helps-field-grid {
    gap: 50px;
    align-items: center !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
   }
}
.helps-field-grid:last-child{
  margin-bottom: 0px;
}
.title-head-bx{
  margin-bottom: 80px;
  h2{
    padding-bottom: 20px;
  }
}

.common-faq-section h2{
  font-size: 40px;
}

.usecase-cta-section {
  background-image: url(https://cms.fieldcamp.ai/wp-content/uploads/2025/09/Frame-1597881121.png);
  padding: 60px 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }
  .usecase-cta{
    margin-bottom: 0px;
  }
  .usecase-cta-btn a {
    border: 4px solid #272729;
    border-radius: 10px;
    color: #fffd;
    background: linear-gradient(90deg, #2a0f33 0%, #000000 100%);
    padding: 12px 30px;
  }
}

.usecase-competable-table{
  border-radius: 10px;
  overflow-x: unset;
}
.usecase-competable-table tbody tr td {
  text-align: left;
  padding: 12px 50px;
}
.usecase-competable-table tbody tr{
  border-bottom: 1px solid #333333;
  border-radius: 10px;
}
.usecase-competable-table tbody tr:last-child{
  border-bottom: unset;
}
.usecase-competable-table tr th{
  text-align: left;
  padding: 12px 50px;
  background-color: #fff;
}

.chart-cta-section {
  background-color: #F5F6F8;
  padding: 40px 45px;
  border-radius: 10px;
  h3{
    line-height: 1.3;
  }
  ul{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;  
    margin-top: 25px;
    margin-bottom: 25px;
    list-style: disc;
    li{
      line-height: 1.75;
      font-weight: 400;
      --tw-text-opacity: 1;
      color: rgb(35 37 41 / var(--tw-text-opacity));
      font-size: 18px;
      margin-inline-start: 20px;
    }
  }
  p{
    padding-bottom: 0px;
  }
  .cta-columns{
    gap: 20px;
    margin-bottom: 0px;
    img{
      margin-left: auto;
    }
  }
}
.before-after-flex{
  .wp-block-columns{
    gap: 25px
  }
  .fieledcam-bef-after{
    background-color: #F8F8FC;
    padding: 30px 30px;
    border: 1px solid #6060A34D;
  }
  h3{
    text-align: center;
    padding-bottom: 10px;
  }
  p.before-after-desc {
      min-height: 128px;
  }
  ul{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    list-style: disc;
    li{
      line-height: 1.75;
      font-weight: 400;
      --tw-text-opacity: 1;
      color: rgb(35 37 41 / var(--tw-text-opacity));
      font-size: 18px;
      margin-inline-start: 20px;
    }
  }
}
.perforace-box.before-fieldcamp-list, .perforace-box.after-fieldcamp-list {
  list-style: none;
  padding-left: 0;
}

.perforace-box.before-fieldcamp-list li, .perforace-box.after-fieldcamp-list li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
}
.before-after-flex .after-fieldcamp{
  border: 2px solid transparent; 
  border-image-slice: 1;                        
  border-image-source: linear-gradient(145deg, #f14343, #12C2E9, #C471ED, #F64F59);
}
.perforace-box.before-fieldcamp-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/09/close-vector.png")
              no-repeat center center;
  background-size: contain;
}

.perforace-box.after-fieldcamp-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/09/checked-vector.svg")
              no-repeat center center;
  background-size: contain;
}
.testimonial-card-dw p {
  color: #333333  ;
  margin-bottom: 24px;
  line-height: 1.7;
  font-size: 16px;
  padding-bottom: 0px;
}

.border-bottom {
  border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 1367px) {
  .use-case-banner .use-case-banner-row .use-case-banner-img img{
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .usecase-competable-table{
    overflow-x: auto;
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .use-case-banner .banner-tag-desc{
    display: block;
    margin-bottom: 15px;
  }
  .use-case-banner .banner-tag-bx{
    margin-bottom: 10px;
  }
  .helps-field {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .py165{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .pt165{
    padding-top: 120px;
  }
  .py135{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pb140{
    padding-bottom: 80px;
  }
  .mb140{
    margin-bottom: 80px;
  }
  .title-head-bx{
    margin-bottom: 50px;
    h2{
      padding-bottom: 20px;
    }
  }
  .helps-field .helps-field-grid{
    gap: 10px;
  }
  .row-rev-mb{
    flex-direction: column-reverse !important;
  }
  .usecase-cta-section{
    padding: 50px 20px;
  }
  .usecase-cta-section .usecase-cta {
    margin-bottom: 0px;
    text-align: center;
  }
  .usecase-competable-table{
    overflow-x: auto;
  }
  .chart-cta-section {
    text-align: center;
    h3{
      line-height: 1.3;
      font-size: 28px;
    }
    ul{
      text-align: left;
    }
  }



}