.new-ppc-template {
    @apply pt-12 pt-[50px] min-[1023px]:pt-[72px] text-center font-sfPro text-base;
    .container{
      @apply max-w-[1245px] mx-auto px-[15px] lg:px-0 !important;
    }
    br{
      @apply hidden md:block;
    }
    .pricing-section{
      @apply mt-[40px] md:mt-[60px] lg:mt-[90px];
      background-image: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/06/bg-image-scaled.jpg");
      background-size: cover;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .card-wining{
      position: relative;
      border-radius: 10px;
      padding: 1px;  /* this is the space inside your gradient border */
      background: linear-gradient(90deg, #f7f7f7 8%, #12c2e9 21%, #c471ed 53%, #f64f59 94%);
      box-sizing: content-box;
      .content {
        border-radius: 10px;  /* 10px - 2px border */
        background: #030304;  /* inner black bg */
        padding: 20px;
      }
    }
    .cta-inner-ppc{
      background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/07/bg-1.png");
      background-size: 100% 100%;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .footer-section-ppc{
      background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/07/footer-image-scaled.jpg");
      background-size: 100% 100%;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .ppc-faq-section .faq-accordion-content{
      text-align: left;
    }
  }

// .navbar_container nav, .footer-section, .footer-features-section,.footer-main-section {display: none;}
li.main-menu.py-1\.5.min-\[1023px\]\:py-0.group.relative.has-children {
  display: none;
}
.footer-columns-grid.grid.grid-cols-1.sm\:grid-cols-2.md\:grid-cols-3.lg\:grid-cols-6.gap-4.sm\:gap-6.md\:gap-8.lg\:gap-6.xl\:gap-8 {
  display: none;
}
.footer-features-section.bg-gray-50.border-t.border-b.border-gray-200 {
  display: none;
}
a.footer-google-play-link {
  display: none;
}
a.footer-app-store-link {
  display: none;
}
.footer-main-container.max-w-\[1246px\].mx-auto.px-3.sm\:px-4.md\:px-6.lg\:px-8.xl\:px-6.py-6.sm\:py-8.md\:py-10.lg\:py-12.xl\:py-16 {
  padding: 0px;
  padding-bottom: 20px;
}
.footer-bottom-links.flex.gap-4.sm\:gap-6 {
  margin-left: auto;
}
.flex.flex-col.sm\:flex-row.items-start.sm\:items-center.gap-3.sm\:gap-4.lg\:gap-8.text-sm.text-gray-600 {
  width: 100%;
}
nav.hidden.p-\[5px\].xl\:mt-\[15px\].min-\[1023px\]\:p-0.fixed.z-\[1\].bg-white.min-\[1023px\]\:bg-transparent.top-\[51px\].xl\:top-20.shadow-lg.min-\[1023px\]\:shadow-none.min-\[1023px\]\:rounded-2xl.rounded-none.h-\[calc\(100vh_-_50px\)\].overflow-y-auto.left-0.right-0.min-\[1023px\]\:static.min-\[1023px\]\:overflow-visible.min-\[1023px\]\:h-auto.min-\[1023px\]\:flex.justify-between {
  display: none;
}
.w-full.d-none-desktop {
  display: block;
}
.w-full.d-none-desktop {
  display: none;
}
.bottom-cta-mb{display: none;}

.gradient-button-ppc {
  background: linear-gradient(100deg, #f97316 -6.08%, #f97316 25.08%, #ef4444);
  color: #FFF;
}

.header-new-ppc {
  background: transparent;
  color: #000000;
  border: 1px solid #000000;
}

@media (max-width: 991px) {
  
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
}
.w-full.d-none-desktop {
  display: block;
}
.w-full.d-none-mobile {
  display: none;
}
}
@media (max-width: 768px) {
  .bottom-cta-mb {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
}

