.new-ppc-template {
    @apply pt-12 pt-[50px] min-[1023px]:pt-[72px] text-center font-sfPro text-base;
    .container{
      @apply max-w-[1245px] mx-auto px-[15px] lg:px-0 !important;
    }
    br{
      @apply hidden md:block;
    }
    .pricing-section{
      @apply mt-[40px] md:mt-[60px] lg:mt-[90px];
      background-image: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/06/bg-image-scaled.jpg");
      background-size: cover;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .card-wining{
      position: relative;
      border-radius: 10px;
      padding: 1px;  /* this is the space inside your gradient border */
      background: linear-gradient(90deg, #f7f7f7 8%, #12c2e9 21%, #c471ed 53%, #f64f59 94%);
      box-sizing: content-box;
      .content {
        border-radius: 10px;  /* 10px - 2px border */
        background: #030304;  /* inner black bg */
        padding: 20px;
      }
    }
    .cta-inner-ppc{
      background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/07/bg-1.png");
      background-size: 100% 100%;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .footer-section-ppc{
      background: url("https://cms.fieldcamp.ai/wp-content/uploads/2025/07/footer-image-scaled.jpg");
      background-size: 100% 100%;
      background-position: center center; 
      background-repeat: no-repeat;
    }
    .ppc-faq-section .faq-accordion-content{
      text-align: left;
    }
  }

.navbar_container nav, .footer-section {display: none;}

.w-full.d-none-desktop {
  display: block;
}
.w-full.d-none-desktop {
  display: none;
}
.bottom-cta-mb{display: none;}
@media (max-width: 991px) {
  
  .banner-section {
    display: flex;
    flex-direction: column-reverse;
}
.w-full.d-none-desktop {
  display: block;
}
.w-full.d-none-mobile {
  display: none;
}
}
@media (max-width: 768px) {
  .bottom-cta-mb {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
}